/*手记页面样式*/
body , header.mui-bar , .mui-content{
  background-color: #fff;
}
.pad-top {
  padding-top: 46px;
}

/*主页面标题*/
header.mui-bar {
  border-bottom: 1px solid #D9DDE1;

  /*选项卡样式*/
  .slider-box {
    width: 60%!important;
    float: left!important;

    >a {
      text-align: left;
    }
    /*选项选中时的样式*/
    >a.mui-active{
      color: #f01414!important;
      border: none!important;

    }
  }

  /*侧滑栏按钮*/
  #aside-btn {
    color: #333;
    font-size: 30px;
  }
}



