/*基础样式*/
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
header,
footer,
ul,
ol,
li,
nav {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
i,
b,
em {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('../icon-font/iconfont.eot');
  src: url('../icon-font/iconfont.eot?#iefix') format('embedded-opentype'), url('../icon-font/iconfont.woff') format('woff'), url('../icon-font/iconfont.ttf') format('truetype'), url('../icon-font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*清除浮动*/
.clearfix::after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*媒体查询，适配手机屏幕*/
@media screen and (device-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (device-width: 360px) {
  html {
    font-size: 18px;
  }
}
@media screen and (device-width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media screen and (device-width: 414px) {
  html {
    font-size: 20.07px;
  }
}
@media screen and (device-width: 640px) {
  html {
    font-size: 32px;
  }
}
